

:root {
  
  --almost-white : #fcfcfc;
  --almost-black : #060C0C;
  --orange : #ff5c00;
  --orange-accent :#ff8d4d;
  --light-orange :#ffb473;
  height:100%;
}

body {
  
  background-color : var(--almost-white);
  background-image: url("paper.avif");
  height:100%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  
}


.body-container{
  display: table-row;
  
}


.main{
  
  max-width: 25rem;
  width: fit-content;
  height: 100%;
  padding: 3rem;
  display: table-cell;
  border-right-style: dashed;
  border-left-style: dashed;
  border-width: 3px;
  border-color: black;
  background-color : var(--almost-white);
  
  
  

}

.main > p{
  
  color : var(--almost-black); 
  text-align: justify;

}

h1 {

  font-size : 1.25rem;

}

h2, h3, h4, h5, h6 {

  font-size : 1rem;
  margin-top: 3rem;
  
}


@keyframes modulate {

  0% {
    color: var(--orange);  
  }  
  50% {
    color: var(--orange-accent);  
  }
  100% {
    color: var(--orange);  
  } 
  
}

#star{

  color : var(--orange)
  
}

#hanging-star{

  text-align: center;
  display: table-cell;
  font-size: 3rem;
  padding-right: 10rem;
}

#news {

  border-style: solid;  
  border-width: 1px;
  padding : 1.2rem;
  
}


a {

  color: var(--orange)  ;
  
}





