



main
{

  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem; 
  width: fit-content;
  min-width: 30rem;
  max-width: 40rem;
  margin-bottom: 20rem;
}

h1 
{
  font-size: 3rem;

}

p
{
  text-indent: 10%;
  font-size: 1.2rem;
}

a 
{
  color: gray;
}

.center 
{
  text-align: center;

  p {
    text-indent: 0%;
    
  }
}

address 
{
  font-style: normal;
  font-family: 'Courier New', Courier, monospace
}

#alternative-title 
{
  font-size: 2.1rem;
}

.quote {
  background-color: lightgoldenrodyellow;
  padding: 1rem;
  color: gray;
  border-left: solid;
  border-color: purple;
  font-size: 1.2rem;
}

.highlight {
  background-color: aliceblue;
  padding: 2rem;
  border-left: solid;
  border-right: solid;
  border-color: red;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.7rem;
  text-indent: 10%;
}




