

.code {
    font-family: 'Consolas', monospace;
}

main
{

  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem; 
  width: fit-content;
  min-width: 30rem;
  max-width: 40rem;
  margin-bottom: 20rem;
}

h1 
{
  font-size: 3rem;

}

p
{
  text-indent: 10%
}

a 
{
  color: gray;
}



.center 
{
  text-align: center;

  p {
    text-indent: 0%;
  }
}




