
@font-face {font-family: HelvetiPixel; src: url('../fonts/HelvetiPixel.ttf')}
@font-face {font-family: Inconsolata; src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf')}

:root {
  
  --almost-white : #fbf6f6;
  --almost-black : #060C0C;
  --primary : #ffd1ba;
  --accent :#ff8d4d;

  font-family: 'Inconsolata';
  font-size: 15px;
  height: 100%;
  border-left-color: var(--primary);
  border-left-style: solid;
  border-left-width: 1px;

}
body {
  
  background-color : var(--almost-white);
  width: 100%;
  margin-left:0px;
  margin-top: 0;
  
}

.main{

  background-color : white;
  padding: 3rem;
  width: fit-content;
  max-width: 60rem;
  box-shadow: 50px 50px #ececec;
    margin: 3rem;

}



p, a, li{
  line-height: 13px;
  color : var(--almost-black); 
  text-align: left;
  padding: 0px 5px;

}

img{
  width:auto;
  max-width:100%;
  max-height:100%;
  
}
a { color: var(--accent)}

h1{
  
  font-size : 2rem;
  color : black;
  background-color : var(--primary);
  padding: 0px 10px;
  margin: 0px;
}

h2 > a{
  color : black;
}

h2, h3, h4, h5, h6 {

  font-size : 1.5rem;
  margin-top: 2rem;
}




p, a {
  margin-bottom: 0.5rem;
}







