
@font-face {font-family: HelvetiPixel; src: url('../fonts/HelvetiPixel.ttf')}
@font-face {font-family: Inconsolata; src: url('../fonts/Inconsolata-VariableFont_wdth,wght.ttf')}

:root
{


}
body {
  width: 100%;
  margin-left:0px;
  margin-top: 0;
  font-family: 'Inconsolata';
  font-size: 15px;
  height: 100%;

  border-left-color: var(--balls);
  border-left-style: solid;
  border-left-width: 1px;
  --almost-white : #fbf6f6;
  --almost-black : #060C0C;

}
#orange-pastel
{
    --main-back : #ffd1ba;
    --main : white;
    --accent :#ff8d4d;
    --light :#ffb473;
    --shadow : #ececec;
    --font : black;
    --h-font : var(--font);
    --columns : var(--accent);
    --headings-bg : var(--main-back);
  --stars : var(--font);
    background-color : var(--almost-white);
}
#dark {
  --main : rgb(17, 14, 24);
  --font : white;
  --main-back : rgb(7, 6, 7);
  --accent: rgb(223, 66, 113);
  --shadow: var(--main);
  --columns : rgb(153, 160, 189);
  --stars : var(--font);
  --headings-bg : rgb(211, 203, 203);
    background-color : rgb(32, 30, 30);
}
#pink {
  --main : rgb(255, 235, 239);
  --font : black;
  --main-back : rgb(255, 223, 239);
  --h-font : rgb(255, 149, 154);
  --accent: rgb(255, 123, 130);
  --shadow: rgb(231, 187, 187);
  --columns : rgb(255, 147, 165);
  --headings-bg : rgb(255, 221, 221);
  --stars : rgb(255, 134, 160);
  background-color : rgb(255, 223, 239);
}
#docu {
  --main : white;
  --font: black;
  --main-back: white;
  --h-font : white;
  --shadow:rgb(241, 241, 241);
  --columns: black;
  --headings-bg : black;
  --stars : var(--font);

  background-color: white;
}
main
{
  background-color : var(--main);
  padding: 3rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 50px 50px var(--shadow);
  margin: 3rem;


}
#docu > main {
  border: #060C0C;
  border-width: 0.1rem;
  border-style:solid;
}

main > .column
{

  max-width: 15rem;
  min-width: 11rem;
  width: fit-content;
  border-color: var(--columns);
  border-left-style: solid;
  border-width: 1px;

}

main > .column-large
{
  max-width: 25rem;
  width: fit-content;
  border-color: var(--main-back);
  border-left-style: solid;
  border-width: 1px;
}

p, a, li
{
  line-height: 13px;
  color : var(--font);
  text-align: left;
  padding: 0px 5px;
  margin-bottom: 0.5rem;
}


img
{
  width:auto;
  max-width:100%;
  max-height:100%;
}

a { color: var(--accent)}

h1, h2
{
  background-color : var(--headings-bg);
  padding: 0px 10px;
  margin: 0px;
  color: var(--h-font);
}

h2
{

  font-size : 1rem;
  margin-top: 1rem;

  :before
  {
    content: "⋆ ";
    background: transparent;
    color:var(--h-font);
  }

  a
  {
    color:var(--h-font);
  }
}


.stars
{

  font-size: 2rem;
  color : white;
  background-color : var(--main-back);
  p
  {
    display: inline;
    color: var(--stars);
  }

}










