

:root {
  
  --barely-green : #f9faf7;
  --yellow : #E6AF2E;
  
}


body {
  
  background-color : var(--barely-green);
  
}

p {

font-size : 1.1rem  
  
}

.main{
  
  max-width: 40rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  margin-down: 10rem;
  

}


h1 {

  font-size : 5rem;
  margin-bottom : 1rem;

}




@keyframes modulate {

  0% {
    color: var(--orange);  
  }  
  50% {
    color: var(--orange-accent);  
  }
  100% {
    color: var(--orange);  
  } 
  
}

#star{

  color : var(--orange)
  
}

#hanging-star{

  text-align: center;
  
}

a {

  color: var(--yellow)  ;
  
}





